<ion-view title="People" id="page2" class="side-menu-gradient">
  <ion-content padding="false" class="has-header">
    <ion-list id="people-list1">
      <ion-item class="item-avatar item-icon-right calm side-menu-item" id="people-list-item1" ui-sref="tabsController.transactions({&quot;username&quot;:&quot;James&quot;})">
        <img src="img/4IPcT0mPTs6ffQsqVcc5_AIbEiAIAAABECM6Ro7bGqYej-gEiC3ZjYXJkX3Bob3RvKihmY2U1ODJjN2I2ZWI1MjExYjFlMjA4NjBhYmNiYWM0NTlmNjBkY2I5MAHWb81ivQiiwJO-Z8kbBHcVOUUYWQ.jpg">
        <h2calm>James
          <i class="icon ion-chevron-right"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-avatar item-icon-right calm side-menu-item" id="people-list-item6" ui-sref="tabsController.transactions({&quot;username&quot;:&quot;Tori&quot;})">
        <img src="img/zU9pXXVcQ0ellkrcW2a7_Tori.png">
        <h2calm>Tori
          <i class="icon ion-chevron-right"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-avatar item-icon-right calm side-menu-item" id="people-list-item7" ui-sref="tabsController.transactions({&quot;username&quot;:&quot;Daisy&quot;})">
        <img src="img/BpeUgNzDQryZHLtKXVIx_Daisy.png">
        <h2calm>Daisy
          <i class="icon ion-chevron-right"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-avatar item-icon-right calm side-menu-item" id="people-list-item2" ui-sref="tabsController.transactions({&quot;username&quot;:&quot;Millie&quot;})">
        <img src="img/T2BTCMHMSEu4dTqgcl1t_millie.png">
        <h2calm>Millie
          <i class="icon ion-chevron-right"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-avatar item-icon-right calm side-menu-item" id="people-list-item3" ui-sref="tabsController.transactions({&quot;username&quot;:&quot;Grace&quot;})">
        <img src="img/pDliC8zuS1O1fGJaH8dj_grace.png">
        <h2calm>Grace
          <i class="icon ion-chevron-right"></i>
        </h2calm>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>