<ion-view id="page1" style="background-color:#FFFFFF;" class="side-menu-gradient">
  <ion-tabs class="tabs-calm tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Profiles" icon="ion-ios-people" href="#//page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Transactions" icon="ion-cash" href="#//page12" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Info" icon="ion-information" href="#//page11" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>