<ion-view title="Transaction Details" id="page5" class="side-menu-gradient">
  <ion-content padding="true" class="has-header">
    <h4 id="transactionDetails-heading5" style="color:#FFFFFF;">{{title}}</h4>
    <div id="transactionDetails-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Purchased on: {{dateCreated}}</p>
    </div>
    <div id="transactionDetails-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Price: £{{price}}</p>
    </div>
    <div id="transactionDetails-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">{{itemDescription}}</p>
    </div>
  </ion-content>
</ion-view>